In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

import os

# hide warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
Id_train=pd.read_csv("loan_data_train.csv")

In [3]:
Id_train.head(1)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years

In [4]:
Id_train.shape

(2200, 15)

In [5]:
Id_train.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [6]:
Id_test=pd.read_csv("loan_data_test.csv")

In [7]:
Id_test.head(1)

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year

In [8]:
Id_test.shape

(300, 14)

In [9]:
Id_test.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Loan.Length',
       'Loan.Purpose', 'Debt.To.Income.Ratio', 'State', 'Home.Ownership',
       'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [10]:
Id_test['Interest.Rate']=np.nan #create new column in test data named "Interest.Rate"
Id_train['data']='train' #to separate test and training data
Id_test['data']='test'
Id_test=Id_test[Id_train.columns] # to make sure column name would be in same location in both dataframe
Id_all=pd.concat([Id_train,Id_test],axis=0) #concate train and test

In [11]:
Id_all.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [12]:
Id_all.shape

(2500, 16)

In [13]:
Id_all=Id_all.drop('ID',axis=1)

In [14]:
Id_all.shape

(2500, 15)

# Cleaning Data

In [15]:
Id_all['Interest.Rate'] = Id_all['Interest.Rate'].str.replace("%",'')
Id_all['Interest.Rate'] = Id_all['Interest.Rate'].apply(pd.to_numeric)
Id_all['Debt.To.Income.Ratio'] = Id_all['Debt.To.Income.Ratio'].str.replace("%",'')
Id_all['Debt.To.Income.Ratio'] = Id_all['Debt.To.Income.Ratio'].apply(pd.to_numeric)

In [16]:
Id_all.dtypes

Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [17]:
# Id_all['Employment.Length']=Id_all['Employment.Length'].str.replace('< 1','0')
# Id_all['Employment.Length']=Id_all['Employment.Length'].str.replace(r'\D',"")
# Id_all['Employment.Length'].apply(pd.to_numeric).head()
# Id_all['Employment.Length'].head()

In [18]:
Id_all['Employment.Length']=Id_all['Employment.Length'].str.replace('years',"")
Id_all['Employment.Length']=Id_all['Employment.Length'].str.replace('year',"")
Id_all['Employment.Length']=np.where(Id_all['Employment.Length'].str[:2]=="10",10,Id_all['Employment.Length'])
Id_all['Employment.Length']=np.where(Id_all['Employment.Length'].str[0]=="<",0,Id_all['Employment.Length'])
Id_all['Employment.Length']=pd.to_numeric(Id_all['Employment.Length'],errors='coerce')
Id_all['Employment.Length'].head()

0     5.0
1     4.0
2     0.0
3    10.0
4    10.0
Name: Employment.Length, dtype: float64

In [19]:
Id_all.dtypes

Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                 float64
data                               object
dtype: object

In [20]:
# Id_all['Employment.Length']=Id_all['Employment.Length'].fillna(np.mean(Id_all['Employment.Length']))

In [21]:
# new data frame with split value columns 
k= Id_all["FICO.Range"].str.split("-", expand = True).astype(float)
Id_all['fico']=0.5*(k[0]+k[1])
del Id_all['FICO.Range']
Id_all['fico'].head()

0    722.0
1    712.0
2    692.0
3    712.0
4    732.0
Name: fico, dtype: float64

In [22]:
Id_all.dtypes

Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                 float64
data                               object
fico                              float64
dtype: object

In [23]:
# Id_all['Loan.Length']=Id_all['Loan.Length'].str.replace(r'\D',"")
# Id_all['Loan.Length'].head()

In [24]:
Id_all['Loan.Length']=Id_all['Loan.Length'].str.replace(' months',"")
Id_all['Loan.Length']=pd.to_numeric(Id_all['Loan.Length'],errors='coerce')

In [25]:
Id_all['Loan.Length'].head()

0    60.0
1    60.0
2    36.0
3    36.0
4    60.0
Name: Loan.Length, dtype: float64

In [26]:
for col in ['Amount.Requested','Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    Id_all[col]=pd.to_numeric(Id_all[col],errors='coerce') #because of . it shows error so ignore that error

In [27]:
Id_all.isnull().sum()

Amount.Requested                    5
Amount.Funded.By.Investors          1
Interest.Rate                     300
Loan.Length                         2
Loan.Purpose                        1
Debt.To.Income.Ratio                1
State                               1
Home.Ownership                      1
Monthly.Income                      3
Open.CREDIT.Lines                   9
Revolving.CREDIT.Balance            5
Inquiries.in.the.Last.6.Months      3
Employment.Length                  80
data                                0
fico                                0
dtype: int64

In [28]:
Id_all.dtypes

Amount.Requested                  float64
Amount.Funded.By.Investors         object
Interest.Rate                     float64
Loan.Length                       float64
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                 float64
data                               object
fico                              float64
dtype: object

In [29]:
Id_all['Loan.Purpose'].value_counts()

debt_consolidation    1307
credit_card            444
other                  200
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: Loan.Purpose, dtype: int64

In [30]:
for col in ['Amount.Requested','Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    Id_all[col]=pd.to_numeric(Id_all[col],errors='coerce')

In [31]:
del Id_all['Amount.Funded.By.Investors'] #as it is future value so can delete

In [32]:
cat_cols=Id_all.select_dtypes(['object']).columns
cat_cols

Index(['Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [33]:
cat_cols=cat_cols[:-1]
cat_cols

Index(['Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [37]:
for col in cat_cols:
    freqs=Id_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        Id_all[name]=(Id_all[col]==cat).astype(int)
    del Id_all[col]
    print(col)

Loan.Purpose
State
Home.Ownership

In [43]:
Id_all.head()

,Amount.Requested,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_OK,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,25000.0,18.49,60.0,27.56,8606.56,11.0,15210.0,3.0,5.0,train,...,0,0,0,0,0,0,0,0,1,0
1,19750.0,17.27,60.0,13.39,6737.50,14.0,19070.0,3.0,4.0,train,...,0,0,0,0,0,0,0,0,1,0
2,2100.0,14.33,36.0,3.50,1000.00,13.0,893.0,1.0,0.0,train,...,0,0,0,0,0,0,1,0,0,0
3,28000.0,16.29,36.0,19.62,7083.33,12.0,38194.0,1.0,10.0,train,...,0,1,0,0,0,0,0,0,1,0
4,24250.0,12.23,60.0,23.79,5833.33,6.0,31061.0,2.0,10.0,train,...,0,0,0,0,0,0,0,0,1,0

In [45]:
Id_all.dtypes

Amount.Requested                   float64
Interest.Rate                      float64
Loan.Length                        float64
Debt.To.Income.Ratio               float64
Monthly.Income                     float64
Open.CREDIT.Lines                  float64
Revolving.CREDIT.Balance           float64
Inquiries.in.the.Last.6.Months     float64
Employment.Length                  float64
data                                object
fico                               float64
Loan.Purpose_debt_consolidation      int32
Loan.Purpose_credit_card             int32
Loan.Purpose_other                   int32
Loan.Purpose_home_improvement        int32
Loan.Purpose_major_purchase          int32
Loan.Purpose_small_business          int32
Loan.Purpose_car                     int32
Loan.Purpose_wedding                 int32
Loan.Purpose_medical                 int32
Loan.Purpose_moving                  int32
State_CA                             int32
State_NY                             int32
State_TX                             int32
State_FL                             int32
State_IL                             int32
State_GA                             int32
State_PA                             int32
State_NJ                             int32
State_VA                             int32
State_MA                             int32
State_OH                             int32
State_MD                             int32
State_NC                             int32
State_CO                             int32
State_WA                             int32
State_CT                             int32
State_AZ                             int32
State_MI                             int32
State_AL                             int32
State_MN                             int32
State_MO                             int32
State_NV                             int32
State_OR                             int32
State_SC                             int32
State_WI                             int32
State_KY                             int32
State_LA                             int32
State_OK                             int32
Home.Ownership_MORTGAGE              int32
Home.Ownership_RENT                  int32
dtype: object

In [49]:
Id_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Loan.Length                          2
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
fico                                 0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [68]:
Id_all['Amount.Requested']=Id_all['Amount.Requested'].fillna(Id_all['Amount.Requested'].mean())

In [69]:
Id_all['Loan.Length']=Id_all['Loan.Length'].fillna(Id_all['Loan.Length'].mode())

In [70]:
Id_all['Debt.To.Income.Ratio']=Id_all['Debt.To.Income.Ratio'].fillna(Id_all['Debt.To.Income.Ratio'].mean())

In [71]:
Id_all['Monthly.Income']=Id_all['Monthly.Income'].fillna(Id_all['Monthly.Income'].mean())

In [72]:
Id_all['Open.CREDIT.Lines']=Id_all['Open.CREDIT.Lines'].fillna(Id_all['Open.CREDIT.Lines'].mean())

In [73]:
Id_all['Revolving.CREDIT.Balance']=Id_all['Revolving.CREDIT.Balance'].fillna(Id_all['Revolving.CREDIT.Balance'].mean())

In [74]:
Id_all['Inquiries.in.the.Last.6.Months']=Id_all['Inquiries.in.the.Last.6.Months'].fillna(Id_all['Inquiries.in.the.Last.6.Months'].mean())

In [75]:
Id_all['Employment.Length']=Id_all['Employment.Length'].fillna(Id_all['Employment.Length'].mean())

In [76]:
Id_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Loan.Length                          0
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
fico                                 0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [ ]:
# #Sir's code 
# for col in data.columns:
#     if (col not in ['Interest.Rate','data']) & (data[col].isnull().sum()>0):
#         data.loc[data[col].isnull(),col]=data.loc[data['data']=='train',col].mean()

# Model Building

In [97]:
Id_train=Id_all[Id_all['data']=='train']
Id_train=Id_train.drop('data',axis=1)
Id_train.head()

,Amount.Requested,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,fico,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_OK,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,25000.0,18.49,60.0,27.56,8606.56,11.0,15210.0,3.0,5.0,722.0,...,0,0,0,0,0,0,0,0,1,0
1,19750.0,17.27,60.0,13.39,6737.50,14.0,19070.0,3.0,4.0,712.0,...,0,0,0,0,0,0,0,0,1,0
2,2100.0,14.33,36.0,3.50,1000.00,13.0,893.0,1.0,0.0,692.0,...,0,0,0,0,0,0,1,0,0,0
3,28000.0,16.29,36.0,19.62,7083.33,12.0,38194.0,1.0,10.0,712.0,...,0,1,0,0,0,0,0,0,1,0
4,24250.0,12.23,60.0,23.79,5833.33,6.0,31061.0,2.0,10.0,732.0,...,0,0,0,0,0,0,0,0,1,0

In [114]:
Id_test=Id_all[Id_all['data']=='test']
Id_test=Id_test.drop('data',axis=1)
x_test=Id_test.drop('Interest.Rate',axis=1)
y_test=Id_test['Interest.Rate']
x_test.head()

,Amount.Requested,Loan.Length,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,fico,Loan.Purpose_debt_consolidation,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_OK,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,5000.0,60.0,12.59,4416.67,13.0,7686.0,0.0,0.0,692.0,0,...,0,0,0,0,0,0,0,0,0,1
1,18000.0,60.0,4.93,5258.50,6.0,11596.0,0.0,10.0,712.0,1,...,0,0,0,0,0,0,0,0,0,1
2,7200.0,60.0,25.16,3750.00,13.0,7283.0,0.0,6.0,752.0,1,...,0,0,0,0,0,0,1,0,1,0
3,7200.0,36.0,17.27,3416.67,14.0,4838.0,0.0,10.0,792.0,1,...,0,0,0,0,0,0,0,0,1,0
4,22000.0,60.0,18.28,6083.33,9.0,20181.0,0.0,8.0,722.0,1,...,0,0,0,0,0,0,0,0,1,0

In [187]:
x_train=Id_train.drop('Interest.Rate',axis=1)
y_train=Id_train['Interest.Rate']
x_train.head(2)

,Amount.Requested,Loan.Length,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,fico,Loan.Purpose_debt_consolidation,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_OK,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,25000.0,60.0,27.56,8606.56,11.0,15210.0,3.0,5.0,722.0,1,...,0,0,0,0,0,0,0,0,1,0
1,19750.0,60.0,13.39,6737.50,14.0,19070.0,3.0,4.0,712.0,1,...,0,0,0,0,0,0,0,0,1,0

In [100]:
y_train.head()

0    18.49
1    17.27
2    14.33
3    16.29
4    12.23
Name: Interest.Rate, dtype: float64

In [101]:
x_train.shape

(2200, 49)

In [102]:
x_train.dtypes

Amount.Requested                   float64
Loan.Length                        float64
Debt.To.Income.Ratio               float64
Monthly.Income                     float64
Open.CREDIT.Lines                  float64
Revolving.CREDIT.Balance           float64
Inquiries.in.the.Last.6.Months     float64
Employment.Length                  float64
fico                               float64
Loan.Purpose_debt_consolidation      int32
Loan.Purpose_credit_card             int32
Loan.Purpose_other                   int32
Loan.Purpose_home_improvement        int32
Loan.Purpose_major_purchase          int32
Loan.Purpose_small_business          int32
Loan.Purpose_car                     int32
Loan.Purpose_wedding                 int32
Loan.Purpose_medical                 int32
Loan.Purpose_moving                  int32
State_CA                             int32
State_NY                             int32
State_TX                             int32
State_FL                             int32
State_IL                             int32
State_GA                             int32
State_PA                             int32
State_NJ                             int32
State_VA                             int32
State_MA                             int32
State_OH                             int32
State_MD                             int32
State_NC                             int32
State_CO                             int32
State_WA                             int32
State_CT                             int32
State_AZ                             int32
State_MI                             int32
State_AL                             int32
State_MN                             int32
State_MO                             int32
State_NV                             int32
State_OR                             int32
State_SC                             int32
State_WI                             int32
State_KY                             int32
State_LA                             int32
State_OK                             int32
Home.Ownership_MORTGAGE              int32
Home.Ownership_RENT                  int32
dtype: object

In [119]:
y_train.dtypes

dtype('float64')

In [120]:
y_test.dtypes

dtype('float64')

In [103]:
y_train.shape

(2200,)

In [104]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [105]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [108]:
# higher the alpha value, more restriction on the coefficients; 
# low alpha > more generalization, coefficients are barely
rr = Ridge(alpha=0.01) 
# restricted and in this case linear and ridge regression resembles
rr.fit(x_train, y_train)

Ridge(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [188]:
from sklearn.model_selection import train_test_split
x_train_train,x_train_test,y_train_train,y_train_test=train_test_split(x_train,y_train,test_size=0.3,random_state=3)

print(len(x_train_train))
print(len(y_train_train))
print(len(x_train_test))
print(len(y_train_test))

1540
1540
660
660

In [135]:
train_score=lr.score(x_train_train, y_train_train)
test_score=lr.score(x_train_test, y_train_test)
print(train_score)
print(test_score)

0.7709673640878852
0.7499700770438501

In [136]:
Ridge_train_score=rr.score(x_train_train, y_train_train)
Ridge_test_score=rr.score(x_train_test, y_train_test)
print(Ridge_train_score)
print(Ridge_test_score)

0.770967560715764
0.7499695963242432

In [137]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression

In [168]:
lasso = Lasso(alpha=.007)
lasso.fit(x_train_train,y_train_train)
train_score=lasso.score(x_train_train,y_train_train)
test_score=lasso.score(x_train_test,y_train_test)
coeff_used = np.sum(lasso.coef_!=0)
print("training score:", train_score)
print("test score: ", test_score)

training score: 0.7696347625240441
test score:  0.7429693755412867

training score: 0.6784804932466961

test score:  0.6425978274075081

In [146]:
print("number of features used: ", coeff_used)

number of features used:  5

In [184]:
import warnings
warnings.filterwarnings('ignore')
import statsmodels.api as sm

x_constant = sm.add_constant(x_train_train)
lin_reg=sm.OLS(y_train_train,x_constant).fit()
lin_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Interest.Rate   R-squared:                       0.773
Model:                            OLS   Adj. R-squared:                  0.765
Method:                 Least Squares   F-statistic:                     103.3
Date:                Thu, 17 Oct 2019   Prob (F-statistic):               0.00
Time:                        14:44:53   Log-Likelihood:                -3252.4
No. Observations:                1540   AIC:                             6605.
Df Residuals:                    1490   BIC:                             6872.
Df Model:                          49
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                              67.7286      1.273     53.206      0.000      65.232      70.226
Amount.Requested                    0.0002    8.4e-06     19.506      0.000       0.000       0.000
Loan.Length                         0.1334      0.006     22.457      0.000       0.122       0.145
Debt.To.Income.Ratio             5.285e-05      0.008      0.006      0.995      -0.016       0.016
Monthly.Income                  -2.445e-05   1.42e-05     -1.726      0.085   -5.22e-05    3.34e-06
Open.CREDIT.Lines                  -0.0330      0.013     -2.501      0.013      -0.059      -0.007
Revolving.CREDIT.Balance        -3.707e-06   3.06e-06     -1.211      0.226   -9.71e-06     2.3e-06
Inquiries.in.the.Last.6.Months      0.3504      0.044      7.878      0.000       0.263       0.438
Employment.Length                   0.0175      0.015      1.137      0.256      -0.013       0.048
fico                               -0.0862      0.002    -53.941      0.000      -0.089      -0.083
Loan.Purpose_debt_consolidation    -0.7179      0.324     -2.219      0.027      -1.352      -0.083
Loan.Purpose_credit_card           -0.7575      0.337     -2.246      0.025      -1.419      -0.096
Loan.Purpose_other                  0.1017      0.363      0.280      0.779      -0.610       0.814
Loan.Purpose_home_improvement      -0.8464      0.386     -2.195      0.028      -1.603      -0.090
Loan.Purpose_major_purchase        -0.3530      0.407     -0.867      0.386      -1.152       0.446
Loan.Purpose_small_business        -0.6666      0.434     -1.535      0.125      -1.519       0.186
Loan.Purpose_car                   -0.5641      0.503     -1.122      0.262      -1.551       0.422
Loan.Purpose_wedding               -0.8920      0.510     -1.749      0.080      -1.892       0.108
Loan.Purpose_medical               -0.4412      0.565     -0.781      0.435      -1.549       0.667
Loan.Purpose_moving                 0.5873      0.613      0.958      0.338      -0.615       1.790
State_CA                           -0.2548      0.229     -1.113      0.266      -0.704       0.194
State_NY                           -0.2138      0.257     -0.833      0.405      -0.717       0.290
State_TX                            0.3377      0.278      1.214      0.225      -0.208       0.883
State_FL                           -0.1090      0.278     -0.391      0.696      -0.655       0.437
State_IL                           -0.5092      0.309     -1.647      0.100      -1.116       0.097
State_GA                           -0.3238      0.329     -0.984      0.325      -0.969       0.322
State_PA                           -0.6293      0.318     -1.977      0.048      -1.254      -0.005
State_NJ                           -0.3843      0.314     -1.223      0.222      -1.001       0.232
State_VA                           -0.4235      0.353     -1.199      0.231      -1.116       0.269
State_MA                           -0.1488      0.357     -0.417      0.677      -0.849       0.551
State_OH                           -0.1866      0.379     -0.493      0.622      -0.929       0.556
State_MD                           -0.0870      0.393     -0.221      0.825      -0.859       0.685
State_NC                           -0.5436      0.388     -1.403      0.161      -1.304       0.216
State_CO                            0.2796      0.375      0.747      0.455      -0.455       1.014
State_WA                           -0.1867      0.385     -0.485      0.628      -0.943       0.569
State_CT                            0.4610      0.443      1.040      0.298      -0.408       1.330
State_AZ                            0.2296      0.408      0.564      0.573      -0.570       1.029
State_MI                            0.0844      0.419      0.202      0.840      -0.737       0.906
State_AL                           -0.3991      0.444     -0.899      0.369      -1.270       0.472
State_MN                           -0.2868      0.484     -0.592      0.554      -1.237       0.664
State_MO                           -0.2995      0.450     -0.666      0.506      -1.182       0.583
State_NV                           -0.1399      0.475     -0.295      0.768      -1.071       0.791
State_OR                            0.5035      0.520      0.968      0.333      -0.516       1.523
State_SC                            0.0512      0.545      0.094      0.925      -1.017       1.120
State_WI                           -0.1074      0.559     -0.192      0.848      -1.205       0.990
State_KY                           -0.0655      0.645     -0.102      0.919      -1.330       1.199
State_LA                           -0.4819      0.623     -0.774      0.439      -1.703       0.740
State_OK                           -0.7803      0.621     -1.257      0.209      -1.998       0.437
Home.Ownership_MORTGAGE            -0.4570      0.207     -2.209      0.027      -0.863      -0.051
Home.Ownership_RENT                -0.2171      0.205     -1.061      0.289      -0.619       0.184
==============================================================================
Omnibus:                       92.738   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              142.449
Skew:                           0.490   Prob(JB):                     1.17e-31
Kurtosis:                       4.123   Cond. No.                     7.27e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.27e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [189]:
predicted_ir=lr.predict(x_train_test)

In [190]:
from sklearn.metrics import mean_absolute_error

In [191]:
mean_absolute_error(y_train_test,predicted_ir)

1.6315269944969077

In [193]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [196]:
lambdas=np.linspace(1,100,100)
params={'alpha':lambdas}
model=Ridge(fit_intercept=True)
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train_train,y_train_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,...
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [197]:
grid_search.best_estimator_

Ridge(alpha=100.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [198]:
grid_search.cv_results_

{'mean_fit_time': array([0.00654626, 0.00576146, 0.0047895 , 0.00460916, 0.00594423,
        0.00535777, 0.00492554, 0.00656214, 0.00522509, 0.00490563,
        0.00711641, 0.00430651, 0.00601461, 0.00648949, 0.00597813,
        0.00592029, 0.00554214, 0.00767515, 0.00493453, 0.00510094,
        0.00473509, 0.00430281, 0.0040134 , 0.00372157, 0.00456398,
        0.00630376, 0.00537193, 0.00568445, 0.0057734 , 0.00601923,
        0.00492983, 0.00507741, 0.00978835, 0.00603404, 0.00682693,
        0.00507019, 0.00449126, 0.00546274, 0.00622315, 0.0050957 ,
        0.00598683, 0.00588024, 0.00482428, 0.00571661, 0.00592988,
        0.00452638, 0.00547168, 0.00553081, 0.00672255, 0.00512791,
        0.00502298, 0.0057791 , 0.00581117, 0.00663245, 0.00647783,
        0.00552437, 0.00602117, 0.00646076, 0.00532749, 0.00419605,
        0.0041543 , 0.00521865, 0.00454865, 0.00639613, 0.00615575,
        0.00421946, 0.00588832, 0.00719328, 0.00445833, 0.00602427,
        0.00535166, 0.00543442, 0.00523748, 0.00571291, 0.00702331,
        0.00504761, 0.00610168, 0.00601883, 0.00602684, 0.00524788,
        0.00554585, 0.00491204, 0.00624604, 0.00542634, 0.00541487,
        0.00601494, 0.00641739, 0.00496485, 0.00698757, 0.00507119,
        0.00477834, 0.00515406, 0.00289145, 0.00190864, 0.00518165,
        0.00524595, 0.00701339, 0.00753808, 0.00639846, 0.00586479]),
 'std_fit_time': array([0.00221594, 0.00168576, 0.0014552 , 0.00127527, 0.00170594,
        0.00163983, 0.00186527, 0.00166342, 0.00203138, 0.00157553,
        0.00143047, 0.00141164, 0.00156799, 0.00145086, 0.0015894 ,
        0.00150333, 0.00199798, 0.00142244, 0.00172271, 0.00218495,
        0.00121631, 0.00141696, 0.00063176, 0.00086782, 0.00240762,
        0.00151937, 0.0017826 , 0.00215852, 0.00162855, 0.00144016,
        0.00182818, 0.00193821, 0.00681945, 0.00225822, 0.00199358,
        0.00261727, 0.0016917 , 0.00210006, 0.00152752, 0.00242476,
        0.00183828, 0.00202614, 0.00166205, 0.00189312, 0.00218926,
        0.00188472, 0.00217735, 0.00219462, 0.00209337, 0.00225365,
        0.00175236, 0.00094944, 0.0021529 , 0.00147814, 0.0024652 ,
        0.00113019, 0.00167093, 0.00264224, 0.00213462, 0.00159724,
        0.00202691, 0.00162909, 0.00203747, 0.00196181, 0.0019005 ,
        0.00165348, 0.00222693, 0.00158889, 0.00161035, 0.00202825,
        0.00177181, 0.00163375, 0.00192765, 0.00189357, 0.00156707,
        0.00122331, 0.00163178, 0.0014732 , 0.00183722, 0.00178318,
        0.00165903, 0.00121729, 0.00188342, 0.00176062, 0.00185062,
        0.00178196, 0.00249777, 0.00377895, 0.00623283, 0.00171962,
        0.00220711, 0.00767135, 0.00200632, 0.00507577, 0.00770359,
        0.00728879, 0.00398181, 0.00321309, 0.0019087 , 0.00201436]),
 'mean_score_time': array([0.00293832, 0.00213768, 0.00136266, 0.00179813, 0.00283623,
        0.00183282, 0.00294783, 0.0024229 , 0.00305679, 0.00184262,
        0.00227454, 0.00251234, 0.00118361, 0.00196543, 0.00211401,
        0.00237138, 0.00295224, 0.00161164, 0.00089905, 0.00263462,
        0.00145934, 0.0023489 , 0.00110419, 0.00261443, 0.00262771,
        0.00151846, 0.00103645, 0.00167441, 0.00220764, 0.00273976,
        0.00289712, 0.00279174, 0.00208733, 0.00173533, 0.00147531,
        0.00231023, 0.0023066 , 0.00152867, 0.00323443, 0.00348227,
        0.0015063 , 0.00170076, 0.00230517, 0.00159833, 0.00118315,
        0.00255473, 0.00278497, 0.00160441, 0.001004  , 0.00278034,
        0.00235627, 0.00189834, 0.00147038, 0.00207934, 0.00316336,
        0.00210407, 0.00181735, 0.00124333, 0.00179956, 0.001966  ,
        0.00240719, 0.00242805, 0.00413959, 0.0018548 , 0.00200121,
        0.00252099, 0.00289063, 0.00343776, 0.00238681, 0.00301647,
        0.00139842, 0.00200045, 0.00219753, 0.00239937, 0.00165408,
        0.0033473 , 0.0016454 , 0.00323908, 0.00167682, 0.00181236,
        0.00241497, 0.00190217, 0.00160334, 0.00185316, 0.00206943,
        0.00275784, 0.00190704, 0.00284324, 0.00346282, 0.00279858,
        0.00169415, 0.00267873, 0.0007097 , 0.00314395, 0.00331676,
        0.00332673, 0.00152173, 0.0027298 , 0.00278022, 0.00217514]),
 'std_score_time': array([0.00119508, 0.00227949, 0.00167663, 0.00183085, 0.00185943,
        0.00173678, 0.0016457 , 0.00175616, 0.00218482, 0.0018662 ,
        0.00232383, 0.00175018, 0.00148365, 0.00076357, 0.00191869,
        0.00137959, 0.00139663, 0.00082927, 0.00157635, 0.00197944,
        0.00173751, 0.0020179 , 0.00130428, 0.00174637, 0.00196947,
        0.00176177, 0.0012987 , 0.00201496, 0.00149792, 0.00150107,
        0.00131589, 0.00200476, 0.00133225, 0.00152322, 0.00143394,
        0.00206805, 0.0017968 , 0.00199874, 0.00148669, 0.00185581,
        0.00174043, 0.00210234, 0.00190092, 0.00195755, 0.00180787,
        0.00191551, 0.00168477, 0.00168413, 0.00179771, 0.0018235 ,
        0.00171063, 0.00188831, 0.00171959, 0.0012628 , 0.00286808,
        0.00176311, 0.00205539, 0.00128254, 0.00195697, 0.00200902,
        0.00190056, 0.00202533, 0.00148951, 0.00189857, 0.00200122,
        0.00187494, 0.00189948, 0.00124032, 0.00178381, 0.00161582,
        0.00174168, 0.00200046, 0.00183333, 0.00195911, 0.00180659,
        0.00191714, 0.00149201, 0.00118028, 0.0017974 , 0.0019155 ,
        0.00189926, 0.00192379, 0.0019637 , 0.00199338, 0.00180823,
        0.00168376, 0.00164226, 0.00290792, 0.00507941, 0.00145363,
        0.00161157, 0.0046953 , 0.00121517, 0.00628797, 0.00664224,
        0.00632729, 0.00180005, 0.00194341, 0.00184233, 0.00187247]),
 'param_alpha': masked_array(data=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                    11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                    20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0,
                    29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
                    38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
                    47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
                    56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0,
                    65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
                    74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0,
                    83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0,
                    92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1.0},
  {'alpha': 2.0},
  {'alpha': 3.0},
  {'alpha': 4.0},
  {'alpha': 5.0},
  {'alpha': 6.0},
  {'alpha': 7.0},
  {'alpha': 8.0},
  {'alpha': 9.0},
  {'alpha': 10.0},
  {'alpha': 11.0},
  {'alpha': 12.0},
  {'alpha': 13.0},
  {'alpha': 14.0},
  {'alpha': 15.0},
  {'alpha': 16.0},
  {'alpha': 17.0},
  {'alpha': 18.0},
  {'alpha': 19.0},
  {'alpha': 20.0},
  {'alpha': 21.0},
  {'alpha': 22.0},
  {'alpha': 23.0},
  {'alpha': 24.0},
  {'alpha': 25.0},
  {'alpha': 26.0},
  {'alpha': 27.0},
  {'alpha': 28.0},
  {'alpha': 29.0},
  {'alpha': 30.0},
  {'alpha': 31.0},
  {'alpha': 32.0},
  {'alpha': 33.0},
  {'alpha': 34.0},
  {'alpha': 35.0},
  {'alpha': 36.0},
  {'alpha': 37.0},
  {'alpha': 38.0},
  {'alpha': 39.0},
  {'alpha': 40.0},
  {'alpha': 41.0},
  {'alpha': 42.0},
  {'alpha': 43.0},
  {'alpha': 44.0},
  {'alpha': 45.0},
  {'alpha': 46.0},
  {'alpha': 47.0},
  {'alpha': 48.0},
  {'alpha': 49.0},
  {'alpha': 50.0},
  {'alpha': 51.0},
  {'alpha': 52.0},
  {'alpha': 53.0},
  {'alpha': 54.0},
  {'alpha': 55.0},
  {'alpha': 56.0},
  {'alpha': 57.0},
  {'alpha': 58.0},
  {'alpha': 59.0},
  {'alpha': 60.0},
  {'alpha': 61.0},
  {'alpha': 62.0},
  {'alpha': 63.0},
  {'alpha': 64.0},
  {'alpha': 65.0},
  {'alpha': 66.0},
  {'alpha': 67.0},
  {'alpha': 68.0},
  {'alpha': 69.0},
  {'alpha': 70.0},
  {'alpha': 71.0},
  {'alpha': 72.0},
  {'alpha': 73.0},
  {'alpha': 74.0},
  {'alpha': 75.0},
  {'alpha': 76.0},
  {'alpha': 77.0},
  {'alpha': 78.0},
  {'alpha': 79.0},
  {'alpha': 80.0},
  {'alpha': 81.0},
  {'alpha': 82.0},
  {'alpha': 83.0},
  {'alpha': 84.0},
  {'alpha': 85.0},
  {'alpha': 86.0},
  {'alpha': 87.0},
  {'alpha': 88.0},
  {'alpha': 89.0},
  {'alpha': 90.0},
  {'alpha': 91.0},
  {'alpha': 92.0},
  {'alpha': 93.0},
  {'alpha': 94.0},
  {'alpha': 95.0},
  {'alpha': 96.0},
  {'alpha': 97.0},
  {'alpha': 98.0},
  {'alpha': 99.0},
  {'alpha': 100.0}],
 'split0_test_score': array([-1.5131287 , -1.51162529, -1.51027245, -1.50930563, -1.5084136 ,
        -1.50757231, -1.50682884, -1.50615507, -1.50551002, -1.50489068,
        -1.50429459, -1.50371965, -1.50316413, -1.50262652, -1.50210552,
        -1.50159999, -1.50110894, -1.50066432, -1.50024115, -1.49987057,
        -1.49952913, -1.49919631, -1.49887168, -1.4985548 , -1.49824533,
        -1.49794292, -1.49764725, -1.49735803, -1.497075  , -1.49679791,
        -1.49652652, -1.49626063, -1.49600003, -1.49574452, -1.49549394,
        -1.49524811, -1.49500688, -1.49477009, -1.49453761, -1.4943093 ,
        -1.49408504, -1.4938647 , -1.49364817, -1.49343535, -1.49322612,
        -1.49302038, -1.49281805, -1.49261904, -1.49242325, -1.4922306 ,
        -1.49204259, -1.49187402, -1.49170805, -1.49154463, -1.49138369,
        -1.49122518, -1.49106904, -1.4909152 , -1.49076362, -1.49061425,
        -1.49046703, -1.49032192, -1.49017886, -1.49003783, -1.48989877,
        -1.48976164, -1.48962639, -1.489493  , -1.48936142, -1.48923162,
        -1.48910356, -1.4889772 , -1.48885252, -1.48872947, -1.48860803,
        -1.48848817, -1.48836985, -1.48825306, -1.48813775, -1.4880239 ,
        -1.48791149, -1.48780049, -1.48769087, -1.48758261, -1.48747568,
        -1.48737007, -1.48726574, -1.48716268, -1.48706087, -1.48696028,
        -1.48686089, -1.48676268, -1.48666564, -1.48656974, -1.48647497,
        -1.4863813 , -1.48628872, -1.48619721, -1.48610676, -1.48601735]),
 'split1_test_score': array([-1.69620623, -1.69770205, -1.69851852, -1.69893186, -1.69908668,
        -1.69906663, -1.69892372, -1.69869214, -1.69839532, -1.69804987,
        -1.69766792, -1.69725848, -1.69682842, -1.69638301, -1.69592639,
        -1.69546181, -1.69499185, -1.6945186 , -1.69404374, -1.69356861,
        -1.69311871, -1.69272683, -1.69233554, -1.6919455 , -1.69155726,
        -1.69117129, -1.69078794, -1.69040754, -1.69003033, -1.68965654,
        -1.68928631, -1.68891979, -1.68855709, -1.68819829, -1.68784344,
        -1.6874926 , -1.68714579, -1.68680303, -1.68646432, -1.68614791,
        -1.68584783, -1.68555111, -1.68525775, -1.68496773, -1.68468105,
        -1.68439769, -1.68411762, -1.68384082, -1.68356727, -1.68329693,
        -1.68302977, -1.68276576, -1.68250487, -1.68224705, -1.68199227,
        -1.68174049, -1.68149168, -1.68124579, -1.68100278, -1.68076263,
        -1.68052528, -1.6802907 , -1.68005885, -1.67982969, -1.67960318,
        -1.67937928, -1.67915796, -1.67893918, -1.6787229 , -1.67850907,
        -1.67829768, -1.67808867, -1.67788202, -1.67767769, -1.67747564,
        -1.67727584, -1.67707826, -1.67688493, -1.67669515, -1.67650744,
        -1.67632176, -1.67613808, -1.67595638, -1.67577662, -1.67559878,
        -1.67542283, -1.67524874, -1.67507648, -1.67490602, -1.67473735,
        -1.67457043, -1.67440523, -1.67424174, -1.67407993, -1.67391978,
        -1.67376125, -1.67360433, -1.673449  , -1.67329523, -1.673143  ]),
 'split2_test_score': array([-1.54882901, -1.54477915, -1.54197963, -1.5398264 , -1.53807964,
        -1.5365023 , -1.53507082, -1.53376603, -1.53266655, -1.53175716,
        -1.53092342, -1.53015695, -1.52945056, -1.52882733, -1.52826487,
        -1.52774211, -1.52725536, -1.52680137, -1.52637727, -1.52598046,
        -1.52560867, -1.52525982, -1.52493209, -1.52471155, -1.52454633,
        -1.5243937 , -1.52425265, -1.52412224, -1.52400164, -1.52389011,
        -1.52378694, -1.52369151, -1.52360325, -1.52352163, -1.52344618,
        -1.52337646, -1.52331206, -1.5232613 , -1.5232337 , -1.52322034,
        -1.52321002, -1.52320251, -1.5231976 , -1.5231951 , -1.52319481,
        -1.52319658, -1.52320026, -1.5232057 , -1.52321277, -1.52322135,
        -1.52323133, -1.5232426 , -1.52325508, -1.52326867, -1.52328328,
        -1.52329884, -1.52331529, -1.52333255, -1.52335055, -1.52336926,
        -1.5233886 , -1.52340854, -1.52342902, -1.52345   , -1.52347144,
        -1.52349331, -1.52351556, -1.52353817, -1.52356111, -1.52358434,
        -1.52360783, -1.52363158, -1.52365554, -1.5236797 , -1.52370404,
        -1.52372854, -1.52375317, -1.52377794, -1.52380281, -1.52382777,
        -1.52385282, -1.52387793, -1.5239031 , -1.52392831, -1.52395355,
        -1.52397882, -1.5240041 , -1.52402938, -1.52405467, -1.52407994,
        -1.5241052 , -1.52413043, -1.52416464, -1.52420094, -1.52423707,
        -1.52427304, -1.52430883, -1.52434445, -1.5243799 , -1.52441517]),
 'split3_test_score': array([-1.48504024, -1.48267083, -1.48077156, -1.47912127, -1.47766412,
        -1.47636796, -1.475216  , -1.47416773, -1.47329309, -1.47249298,
        -1.4718126 , -1.47150653, -1.4712224 , -1.47095692, -1.47070744,
        -1.47052522, -1.47035724, -1.47019952, -1.47005079, -1.47005959,
        -1.47010711, -1.47015037, -1.47018959, -1.470225  , -1.47025679,
        -1.47028519, -1.47031039, -1.47033258, -1.47035193, -1.47036864,
        -1.47038285, -1.47039472, -1.4704044 , -1.47041202, -1.47041772,
        -1.4704216 , -1.47042379, -1.4704244 , -1.47042351, -1.47042123,
        -1.47041764, -1.47041283, -1.47040686, -1.47039983, -1.47039179,
        -1.47038281, -1.47037294, -1.47040344, -1.47045372, -1.47050246,
        -1.47054972, -1.47059558, -1.47064008, -1.47068328, -1.47072522,
        -1.47076597, -1.47080556, -1.47084403, -1.47088144, -1.47091782,
        -1.47095321, -1.47098764, -1.47102115, -1.47105377, -1.47108554,
        -1.47111647, -1.47114662, -1.47117599, -1.47120461, -1.47123252,
        -1.47125973, -1.47128627, -1.47131216, -1.47133742, -1.47136208,
        -1.47138614, -1.47140963, -1.47143257, -1.47145498, -1.47147686,
        -1.47149824, -1.47151914, -1.47153956, -1.47155952, -1.47157903,
        -1.47159811, -1.47161677, -1.47163502, -1.47165288, -1.47167035,
        -1.47168744, -1.47170417, -1.47172054, -1.47173657, -1.47175227,
        -1.47176763, -1.47178268, -1.47179742, -1.47181186, -1.471826  ]),
 'split4_test_score': array([-1.62861602, -1.62800327, -1.62717381, -1.62624132, -1.62527657,
        -1.62431487, -1.62337426, -1.62246379, -1.62165721, -1.62107614,
        -1.62059211, -1.62029942, -1.62000368, -1.61970726, -1.6194119 ,
        -1.61911889, -1.61882919, -1.61854351, -1.61826234, -1.61798605,
        -1.61771488, -1.61744899, -1.61718846, -1.61693334, -1.61668362,
        -1.61643927, -1.61620021, -1.61596638, -1.61573769, -1.61551402,
        -1.61529528, -1.61510576, -1.61493964, -1.61477756, -1.61461942,
        -1.6144651 , -1.6143145 , -1.6141675 , -1.61402401, -1.61388391,
        -1.6137471 , -1.61361349, -1.61348298, -1.61335546, -1.61323086,
        -1.61310909, -1.61299005, -1.61287366, -1.61275985, -1.61264854,
        -1.61253965, -1.6124331 , -1.61232884, -1.61222679, -1.61212689,
        -1.61202908, -1.61193329, -1.61183946, -1.61174754, -1.61165748,
        -1.61156923, -1.61148272, -1.61141185, -1.61135548, -1.61130031,
        -1.61124628, -1.61119338, -1.61114157, -1.61109082, -1.6110411 ,
        -1.61099238, -1.61094463, -1.61089783, -1.61085195, -1.61080696,
        -1.61076285, -1.61071959, -1.61067715, -1.61063552, -1.61059467,
        -1.61055458, -1.61051524, -1.61047663, -1.61047073, -1.61046801,
        -1.61046553, -1.61046328, -1.61046126, -1.61045945, -1.61045786,
        -1.61045647, -1.61045527, -1.61045427, -1.61045345, -1.61045281,
        -1.61045235, -1.61045205, -1.61045192, -1.61045194, -1.61045211]),
 'split5_test_score': array([-1.46775237, -1.46823851, -1.46872302, -1.46908373, -1.46934512,
        -1.46953773, -1.46970205, -1.469972  , -1.47020151, -1.4703988 ,
        -1.47057001, -1.47071988, -1.47085207, -1.4709695 , -1.47107451,
        -1.471169  , -1.47125452, -1.47133235, -1.47140356, -1.47146905,
        -1.47154073, -1.47163014, -1.47171382, -1.4717924 , -1.47186641,
        -1.47193631, -1.47200253, -1.4720654 , -1.47212526, -1.47218239,
        -1.47223702, -1.47228937, -1.47233966, -1.47238804, -1.47243468,
        -1.47247971, -1.47252327, -1.47256546, -1.47260639, -1.47264615,
        -1.47268483, -1.4727225 , -1.47275923, -1.47279508, -1.47283012,
        -1.47286439, -1.47289794, -1.47293082, -1.47296307, -1.47299472,
        -1.47302581, -1.47305637, -1.47308642, -1.47311601, -1.47314514,
        -1.47317385, -1.47320215, -1.47323007, -1.47325762, -1.47328481,
        -1.47331168, -1.47333822, -1.47336446, -1.4733904 , -1.47341606,
        -1.47344145, -1.47346659, -1.47349147, -1.47351611, -1.47354052,
        -1.4735647 , -1.47358867, -1.47361243, -1.47363599, -1.47365935,
        -1.47368252, -1.47370551, -1.47372832, -1.47375095, -1.47377342,
        -1.47379572, -1.47381787, -1.47383985, -1.47386169, -1.47388338,
        -1.47390492, -1.47392632, -1.47394759, -1.47396872, -1.47398972,
        -1.47401058, -1.47403133, -1.47405195, -1.47407245, -1.47409283,
        -1.47411309, -1.47413324, -1.47415328, -1.47417321, -1.47419302]),
 'split6_test_score': array([-1.85229381, -1.8523531 , -1.85225577, -1.85207292, -1.85184207,
        -1.85158475, -1.851314  , -1.85103803, -1.85076209, -1.85048964,
        -1.85022288, -1.84998019, -1.8497699 , -1.84956728, -1.84937261,
        -1.84918599, -1.84900738, -1.84883665, -1.84867362, -1.84851806,
        -1.84836972, -1.84822833, -1.84809897, -1.84798184, -1.847871  ,
        -1.84776615, -1.847667  , -1.84758531, -1.8475368 , -1.84749214,
        -1.84745113, -1.84741359, -1.84737934, -1.84734821, -1.84732004,
        -1.84729466, -1.84727195, -1.84725176, -1.84723395, -1.8472184 ,
        -1.84720499, -1.84719362, -1.84718417, -1.84717654, -1.84717063,
        -1.84716636, -1.84716364, -1.84716238, -1.84716252, -1.84716397,
        -1.84716666, -1.84717054, -1.84717553, -1.84718159, -1.84718864,
        -1.84719664, -1.84720554, -1.84721529, -1.84722584, -1.84723715,
        -1.84724918, -1.84726189, -1.84727524, -1.8472892 , -1.84730373,
        -1.8473188 , -1.84733438, -1.84735044, -1.84736696, -1.8473839 ,
        -1.84740125, -1.84741898, -1.84743706, -1.84745548, -1.84747422,
        -1.84749324, -1.84751255, -1.84753212, -1.84755192, -1.84757196,
        -1.8475922 , -1.84761264, -1.84763326, -1.84765406, -1.84767501,
        -1.8476961 , -1.84771733, -1.84773868, -1.84777016, -1.84781005,
        -1.84784975, -1.84788924, -1.84792854, -1.84796764, -1.84800653,
        -1.84804522, -1.84808371, -1.84812199, -1.84816006, -1.84819793]),
 'split7_test_score': array([-1.5571719 , -1.55373176, -1.55077311, -1.54825931, -1.54599254,
        -1.54392297, -1.54201632, -1.54029144, -1.53868862, -1.53718107,
        -1.53575871, -1.53448895, -1.53329008, -1.53215221, -1.53107013,
        -1.53003931, -1.52905571, -1.52811577, -1.52721633, -1.52642217,